<head th:insert="fragments/head.html :: head('Main')"></head>
<body>
<nav th:insert="~{fragments/navbar.html :: navbar(${isLoggedIn})}"></nav>
<div th:insert="~{fragments/elements_changer.html :: elements_changer(${url}, ${page})}"></div>
<div class="container">
    <div class="col-sm mb-5" th:each="post : ${page.getContent()}">
        <div class="card mb-5">
            <div class="card-body">
                <a th:href="'/posts/' + ${post.getId()}"><h5 class="card-title" th:text="${post.getTitle()}">Card title</h5>
                </a>
                <p class="card-text" th:text="${post.getText()}"></p>

                <p class="card-text"><small class="text-muted">
                    Created by: <a th:href="${'/users/' + post.getAuthor().getUsername()}"
                                   th:text="${post.getAuthor().getUsername()}"></a>
                </small></p>
                <p class="card-text"><small class="text-muted"
                                            th:text="'Created at: ' + ${dateFormatter.format(post.getCreationDate())}"></small>
                </p>
                <a th:href="'/posts/delete/' + ${post.getId()}"
                   th:if="${currentUserUsername.equals(post.getAuthor().getUsername())}">
                    <button class="btn btn-primary">Delete this post</button>
                </a>
            </div>
            <div th:if="${post.getFilename()}">
                <img class="card-img-top" alt="No image" th:src="${'/img/' + post.getFilename()}">
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:insert="~{fragments/pager-simple.html :: pager(${url}, ${page})}"></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>