<head th:insert="~{fragments/head.html :: head('Create post')}"></head>
<body>
<nav th:insert="~{fragments/navbar.html :: navbar}"></nav>
<div class="container">
  <!--  <form method="post" action="/create">
        <h1>Create post</h1>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text">Text</span>
            <input type="text" name="text" class="form-control" placeholder="Text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>-->
    <h1>Create post</h1>
    <form action="/create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label class="form-label">Text</label>
            <input type="text" class="form-control" name="text" placeholder="Text">
        </div>
        <div class="mb-3">
            <label class="form-label">Photo</label>
            <input type="file" class="form-control" name="file" placeholder="Photo">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>